/Insertion_Sort/nbproject/private/
/Insertion_Sort/build/
/Exercises_Insertion_Sort/nbproject/private/
/Exercises_Insertion_Sort/build/
/Merge_Sort/nbproject/private/
/Merge_Sort/build/
/Merge_Sort/dist/
/Bubble_Sort/nbproject/private/
/Bubble_Sort/build/
/Quick_Sort/build/
/Heap_Sort/nbproject/private/
/Stack/nbproject/private/
/Stack/dist/
/Stack/build/
/Data_Structure_Stack/nbproject/private/
/Data_Structure_Stack/build/
/Binary_Tree/build/
/Red_Black_Tree/nbproject/private/