/Insertion_Sort/nbproject/private/
/Insertion_Sort/build/
/Exercises_Insertion_Sort/nbproject/private/
/Exercises_Insertion_Sort/build/
/Merge_Sort/nbproject/private/
/Merge_Sort/build/
/Merge_Sort/dist/